*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
main{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
#details-card{
display: flex;
align-items: center;
justify-content: center;
gap: 6rem;
height: 75vh;
padding: 0 14%;
}
#watch{
background-color: #F7941F;
color: #ffffff;
border: 2px solid #949494;
padding: .7rem ; border: none; border-radius:20px; 
}
p{
width: 70%;
}
h2{
color: #114E94;
}