@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body{
  background-color: #f8f8f8;
}
#card{
padding:2rem   0;
height: 100%;
border: none;
}
#list{
width: auto;
}
#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #024f62;
  padding: 2rem 3rem ;
  text-decoration: none;
  list-style: none;
  padding: 1rem 3rem;
}
#nav-list>li{
font-weight: 600;
}
ul{
list-style: none;
display: flex;
align-items: center;
gap: 6rem;
color: #fff;
font-size: 1.2rem;
font-weight: 600;
}
#profile{
width: auto;
}
#welcome{
width: 100%;
}
.logo{
text-align: center;
font-family: 'Luckiest Guy', cursive;
font-size: 1.7rem;
}
#main-content{
display: flex;
flex-direction: column;
align-items: center;
padding: 0 7%;
}
#search-second{
  width: 70%;
  margin-bottom: 2rem;
  background-color: #fff;
  padding: 0.5rem 1rem;
  color: #fff;
}
::placeholder{
color: #024152;
font-weight: 600;
}
.row-card{
  justify-content: space-between;
}
#grid{
display: flex;
align-items: center;
gap: 6rem;
}
#footer{
background-color: #024F62;
color: #fff;
padding: 1rem 3rem;
width: 100%;
}
.Home{
  font-family: 'Luckiest Guy', cursive;
  font-size: 2rem;
  color: #fff;
}
#log{
color: #fff;
}
#c{
  color: #C1181D;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
#header{
  width: 100%;
}
#title{
color: #fff;
margin-bottom: 2rem;
text-decoration: none;
font-weight: 700;
font-size: 1.5rem;
}
#card-body>#title{
  transition: transform .2s;
}
#details-card>img{
  height: 300px;
  border-radius: 100% ;
}

#card-body>#title:hover{
transform: scale(1.1);
}
#details-card>p{
width: 35%;
text-align: center;
}
#details-card>h2{
color: #EB2B51;
font-weight:600 ;
}
#card-col{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#card{
width: 100%;
}
#card>img{ height: 350px; box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; margin-bottom: 2rem; width: 250px; border: radius 15px ; -webkit-border-radius:15px ; -moz-border-radius:15px ; -ms-border-radius:15px ; -o-border-radius:15px ;
}
p{
width: 70%;
margin-bottom: 1.5rem;
color: #949494;
}
#desc{
font-size: 1.2rem;
font-weight: 600;
color: #C1181D;
}
#year{
font-size: 1.2rem;
font-weight: 600;
color: #C1181D;
}
h2{
margin-bottom: 1rem;
color: #C1181D;
}
.home{
text-decoration: none;
color: #fff;
font-weight: 600;
}
main{
background-color: #024152;
}
#welcome-imge{
height: 80vh;
}

#majd{
color: #fff;
padding: 0 8%;
margin-top: 5rem;
}